
variable "aws" {
  default = {
    credentials = {
      "region"     = ""
      "access_key" = ""
      "secret_key" = ""
    }
  }
}

variable "rds" {
  default = {
    postgresql = {
      engine_class   = "db.t3.medium"
      engine_version = "12.4"
      db_name        = ""
      db_username    = ""
      db_password    = ""
    }
  }
}

variable "s3_storage" {
  default = {
    bucket_name = "vtenh"
  }
}

variable "name" {
  default = "VTENH"
}

variable "default_tags" {
  default = {
    AutoManaged = "true"
  }
}
