
variable "aws" {
  default = {
    config = {
      profile = "vtenh"
    }

    credentials = {
      "region"     = ""
      "access_key" = ""
      "secret_key" = ""
    }
  }
}

variable "ssh_public_key_file" {
  default = ""
}

variable "rds" {
  default = {
    postgresql = {
      engine_class   = "db.t3.medium"
      engine_version = "12.4"
      db_name        = ""
      db_username    = ""
      db_password    = ""
    }
  }
}

variable "s3_storage" {
  default = {
    bucket_name = "vtenh"
  }
}

variable "name" {
  default = "VTENH"
}

variable "rails_master_key" {
  type    = string
  default = ""
}


variable "queue_cpu" {
  default = 512
}

variable "queue_memory" {
  default = 1024
}

variable "task_cpu" {
  default = 512
}

variable "task_memory" {
  default = 1024
}

variable "web_cpu" {
  description = "Number of CPU Unit. 1024 eq 1CPU"
  type        = string
  default     = 1024
}

variable "web_memory" {
  default = 2048
}

variable "container_port" {
  default = 80
}

variable "image_id" {
  default = "ami-065d37ce21ef5bed5"
}

variable "instance_type" {
  default = "t3.small"
}

variable "max_count" {
  default = 4
}

variable "min_count" {
  default = 1
}

variable "desired_count" {
  default = 1
}

variable "health_check_path" {
  default = "/health_check"
}

variable "acm_certificate_arn" {
  default = ""
}

variable "domain_name" {
  default = "vtenh.com"
}

variable "default_tags" {
  default = {
    AutoManaged = "true"
  }
}

variable "protected_username" {
  default = ""
}

variable "protected_password" {
  default = ""
}

variable "task_command_file" {
  description = "Exec bash file to execute as default docker CMD."
  default     = "/tmp/custom_script/task.sh"
}

# local site to allow to access CORS s3 if required
variable "cors_local_sites" {
  default = []
}

variable "app_environments" {
  default = {
    rails_master_key    = ""
    device_secret_key   = ""
    asset_host_url      = "
    host                = "
    firebase_project_id = ""
    rails_min_instances = 4
    rails_max_instance  = 6
    sidekiq_username    = ""
    sidekiq_password    = ""
    sms_sender_id       = ""
    smtp_server         = ""
    smtp_username       = ""
    smtp_password       = ""
  }
}

variable "sendgrid_dns_settings" {
  default = [
    # { name = "", value = "" },
  ]
}
