
variable "aws" {
  default = {
    credentials = {
      "region"     = ""
      "access_key" = ""
      "secret_key" = ""
    }
  }
}

variable "name" {
  default =  "VTENH"
}

variable "default_tags" {
  default = {
    AutoManaged = "true"
  }
}
